.selected-date {
  background: #339CFF !important;
  color: white !important;
  border-radius: 50%;
}
.submitted-date {
  background: #d1eaff !important;
  color: #007BFF !important;
  border-radius: 50%;
}
